[Desktop Entry]
Name=Camera
Name[zh_CN]=相机
Comment=Take pictures and videos
Exec=/usr/local/bin/liuqin-camera
Icon=org.gnome.Snapshot
Terminal=false
Type=Application
StartupNotify=true
DBusActivatable=true
Categories=GNOME;GTK;AudioVideo;Video;
